snippet io
	io:format("HL DEBUG INFO:<~p:~p> ======> ${1:~p}~n", [?FILE, ?LINE, ${2}])${3:,}
snippet comm
	%%--------------------------------------------------------------------
	%% @doc
	%% ${1}
	%%
	%% @spec ${2}
	%% @end
	%%--------------------------------------------------------------------
snippet hello
	io:format("HL DEBUG INFO:${1:hello}~n"),
